* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: grey;
    background-image: url('../Images/bg1.jpg');
    background-size: cover;
    background-image: no-repeat;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 2rem;
    margin-left: 2rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

@media (max-width: 450px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 0.2rem 0.5rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.Grid-Container ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-right: 40px;
}

.Grid-Container ul li{
    text-decoration: none;
    list-style: none;
}
.Grid-Container ul li a{
    text-decoration: none;
}

.Grid-Container ul li img{
    background-image: url('../Images/bg1.jpg');
    /*outline: 2px solid red; */
}

.Grid-Container .TextOnImagesC {
    position: absolute;
    list-style: none;
    text-decoration: none;
  }


  /* This part is for the Contact form. */
.Contact-Container{
    text-align: center;
    background-image: url('../Images/Base_Background.jpg');
    background-size: cover;
    background: no-repeat;
    background-repeat:no-repeat;
}

#Contact-form{
    margin-top: 5%;
    transition: all 4s ease-in-out;
}

.Contact-form-control{
    width: 25%;
    opacity: 0.5;
    border: none;
    outline: none;
    border-bottom: 1px soild grey;
    color: black;
    font-size: 20px;
    margin-bottom: 2%;
    height: 20%;
}

.Contact-form-control-msg{
    width: 25%;
    opacity: 0.5;
    border: none;
    outline: none;
    border-bottom: 1px soild grey;
    color: black;
    font-size: 20px;
    margin-bottom: 2%;
    height: 100px;
}

form .Form-control-submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 5%;
}

@media (max-width: 1200px) {
    .Contact-form-control{
        width: 25%;
        opacity: 0.5;
        border: none;
        outline: none;
        border-bottom: 1px soild grey;
        color: black;
        font-size: 15px;
        margin-bottom: 2%;
        height: 50px;
    }

    .Contact-form-control-msg{
        width: 25%;
        opacity: 0.5;
        border: none;
        outline: none;
        border-bottom: 1px soild grey;
        color: black;
        font-size: 15px;
        margin-bottom: 2%;
        height: 100px;
    }
    
    form .Form-control-submit{
        background: #ff5722;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 2%;
    }
}

@media (max-width: 800px) {
    .Contact-form-control{
        width: 40%;
        opacity: 0.5;
        border: none;
        outline: none;
        border-bottom: 1px soild grey;
        color: black;
        font-size: 15px;
        margin-bottom: 2%;
        height: 50px;
    }

    .Contact-form-control-msg{
        width: 40%;
        opacity: 0.5;
        border: none;
        outline: none;
        border-bottom: 1px soild grey;
        color: black;
        font-size: 15px;
        margin-bottom: 2%;
        height: 100px;
    }
    
    form .Form-control-submit{
        background: #ff5722;
        border-color: transparent;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 2%;
    }
}

@media (max-width: 400px) {
    .Contact-form-control{
        width: 60%;
        opacity: 0.5;
        border: none;
        outline: none;
        border-bottom: 1px soild grey;
        color: black;
        font-size: 15px;
        margin-bottom: 2%;
        height: 35px;
    }

    .Contact-form-control-msg{
        width: 60%;
        opacity: 0.5;
        border: none;
        outline: none;
        border-bottom: 1px soild grey;
        color: black;
        font-size: 15px;
        margin-bottom: 2%;
        height: 100px;
    }
    
    form .Form-control-submit{
        background: #ff5722;
        border-color: transparent;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 2%;
    }
}

/*  Contact form success page. */
.Success-Contact-Container{
    text-align: center;
}
.Success-Contact-Container p{
    font-size: 20px;
}

/*  This part is for the about me page. */
.ProjektLinks{
    display: flex;
    justify-content: space-between;
    text-align: center;
}